/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    h1 {
    font-size: 2rem;
    transition: color 0.5s ease, transform 0.5s ease; /* Плавный переход для цвета и трансформации */
}
}

h1 {
    font-size: 2rem;
    transition: color 0.5s ease, transform 0.5s ease; /* Плавный переход для цвета и трансформации */
}





/* Заголовок */
header {
    background: linear-gradient(to right, #4e0731, #770992);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    color: #fff;
}

/* Навигация */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Золотистый цвет при наведении */
}

/* Основной контент */
main {
    padding: 20px;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02); /* Увеличение секции при наведении */
}

h2 {
    color: #ff7e5f;
}

/* Подвал */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Анимация при загрузке */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s ease-in;
}
